
body{
  font-family:'Lobster',cursive;
  }
header.img{
  width:100;
  height:120;
}
  
  h1{ 
    font-family:'Lobster',cursive;
  }
  
title{ 
  font-family:'Lobster',cursive;
}
footer {
    position:fixed;
    bottom:0;
}

