img{
    position: right
    top: 30px;
    right: 5px;
}

body{
  font-family:'Lobster',cursive;
  color: white;
  }
  
  h1{ 
    font-family:'Lobster',cursive;
    color: white;
  }
  
#title{ 
  font-family:'Lobster',cursive;
  color: white;
}
