header img{
  position:absolute; TOP:35px; LEFT:170px; WIDTH:50px; HEIGHT:50px" SRC="circle.gif"
}
}
body{
  font-family:'Lobster',cursive;
  }
main p{
  font-size:20;
}
  
  h1{ 
    font-family:'Lobster',cursive;
  }
  
title{ 
  font-family:'Lobster',cursive;
}
footer {
    position:fixed;
    bottom:0;
}

